body{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #FEF2BF;
    font-size: 1.5rem;
    background-color:blue;  
}
.container-out{
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -2; */
    height: 80vh;
}
.container{
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
}
.btn{
    width: 100px;
    border: 4px solid black;
    height: 100px;
    background-color: pink
}
.bg-cross{
    background-color: aqua;
    background-image: url("./images/cross.png");
    background-size: cover;
    background-position: center;
    z-index: 2;
    background-blend-mode:multiply; /* Adjust blend mode as needed */
}
.bg-zero {
    /* background: linear-gradient(180deg, orange 60%, green); */
    background-color: aqua;
    background-image: url("./images/zero.png");
    background-size: cover;
    background-position: center;
    z-index: 2;
    background-blend-mode:multiply; /* Adjust blend mode as needed */
}
.cross{
  
    width: 100px;
    height: 100px;
    /* opacity: 0.8; */
    /* z-index: 1; */
}
.zero {
    /* Remove the background-image property */
    /* background-image: url("./images/zero.png"); */
    
    /* Remove aspect-ratio property */
    /* aspect-ratio: 3/2; */
    
    /* Add z-index to ensure the background color is below the image */
    /* z-index: 1; */
    
    /* Add width and height properties to display the image */
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
}
.game-over {
    background-color: forestgreen;
    opacity: 0.8;
}
